<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter the Employees</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'filter_emp.css' %}">
</head>
<body>
    <div class = "main">
        <div class = "heading">
            <h1>FILTER THE EMPLOYEES</h1>
        </div>
        <form  method = "post">
            {% csrf_token %}
            <label for = "first_name">Name</label>
            <input type = "text" placeholder="Name" name = "name" value = {{name}}>
            <label for = "dept">Department</label>
            <input type = "text" placeholder="Department" name = "dept" value = {{dept}}>
            <label for = "role">Role</label>
            <input type = "text" placeholder="Role" name = "role" value = {{role}}>
            <button type = "submit">Submit</button>
        </form>

        <div class = "box">
        </div>
    </div>
    
</body>
</html>